<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Documents</title>
    <style type="text/css">
    TABLE {
        border-collapse: collapse;
        border: 2px solid #000;
        background: yellow;
        color: black;
    }
    TD {
        border: 1px solid #000;
        background: white;
    }
  </style>
</head>
<body>
<div th:switch="${docs}">
    <h2 th:case="null">No documents found!</h2>
    <div th:case="*">
        <h2>Documents</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Employee's name</th>
                <th>Department</th>
                <th>Type</th>
                <th>Number</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doc : ${docs}">
                <td th:text="${doc.id}"></td>
                <td th:text="${doc.name}"></td>
                <td th:text="${doc.department}"></td>
                <td th:text="${doc.type}"></td>
                <td th:text="${doc.number}"></td>
                <td><a th:href="@{doc-update/{id}(id=${doc.id})}">Edit</a></td>
                <td><a th:href="@{doc-delete/{id}(id=${doc.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/doc-create">Create doc</a></p>
</div>
</body>
</html>